@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using App.Areas.Identity.Models.AccountViewModels
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Register";
}

<!-- Thêm Font Awesome vào head -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="~/Areas/Identity/assets/Account/IndexAndLogin.css" asp-append-version="true">

<div class="wrap-popup-login-content" bis_skin_checked="1">
    <div class="popup-login-content login-content" bis_skin_checked="1">
        <img src="/img/home/logo_login.png" alt="" class="logo-toco">
        <div class="login-description" bis_skin_checked="1">Đăng nhập để tích điểm, lưu lại những món yêu thích và nhận
            những ưu đãi đặc biệt từ ToCoToCo nhé!</div>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login-area" bis_skin_checked="1">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <input asp-for="UserNameOrEmail" class="form-control" placeholder="Nhập email hoặc tên tài khoản" style="color: #fff" />
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Nhập mật khẩu của bạn" style="color: #fff" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                  
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Nhập lại mật khẩu của bạn" style="color: #fff !important" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="forgot-password" style="color: #fff" bis_skin_checked="1">
                <a asp-action="ForgotPassword" style="color: #fff">Quên mật khẩu?</a>
            </div>

            <button type="submit" class="btn-yellow">Đăng nhập</button>

            <div class="sugget-text" bis_skin_checked="1">
                <div class="text" style="color: #fff" bis_skin_checked="1">Bạn đã có tài khoản?</div>
                <a asp-action="Login" class="link">Đăng nhập</a>
            </div>
            <div class="sugget-text" bis_skin_checked="1">
                <a href="/Toocha/Order/Index" class="back-home" style="color: #007bff !important"
                    bis_skin_checked="1">Quay lại màn hình chính</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function togglePassword() {
            const passwordInputs = document.querySelectorAll('.password-input');
            passwordInputs.forEach(input => {
                if (input.type === 'password') {
                    input.type = 'text';
                } else {
                    input.type = 'password';
                }
            });
        }
    </script>
}
